{% from "macros" import video %}
{% extends "base.html" %}

{% block title %}Development{% endblock %}

{% block content %}

<h2 class="title">Development</h2>
<div class="inner">
<p class="first">
We are interested in any contribution, the best way to do so is to send a
github pull request as described below.
</div>

<h2 class="title">How to Send a Patch</h2>
<div class="inner">
<p class="first">
The best way is to send a github
<a href="http://help.github.com/pull-requests/">pull request</a>
against the <a href="http://github.com/sympy/sympy">sympy/sympy</a> repository.
We'll review it and push it in.
</p>
</div>

{% endblock %}


{% block sidebar %}

<div class="block">
  <h3>Git Repository</h3>
  <div class="content">
    <p>
    Main git repository:<br/>
    <code>git clone git://github.com/qsnake/qsnake.git</code>
    </p>
    <p>
    Online access: <a href="http://github.com/qsnake/qsnake">github.com/qsnake/qsnake</a>
    </p>
  </div>
</div>

{% endblock %}
