{% from "macros" import video %}
{% extends "base.html" %}

{% block title %}Qsnake{% endblock %}

{% block content %}

<h2 class="title">About</h2>
<div class="inner">
<p class="first">
Qsnake is a source distribution for scientific computing, with unified Python
interface.
</p>
</div>

<h2 class="title">Features</h2>
<div class="inner">
<p class="first">
The standard packages include:
<ul>
    <li>IPython</li>
    <li>NumPy</li>
    <li>SciPy</li>
    <li>SymPy</li>
    <li>Matplotlib</li>
    <li>Qsnake Standard Library</li>
</ul>
</p>
<p>
Modules include:
<ul>
    <li>Electronic structure calculations codes</li>
</ul>
</p>
</div>

{% endblock %}


{% block sidebar %}

<div class="block">
  <h3>Download Now</h3>
  <div class="content">
<p>
Latest git version: <a href="http://github.com/qsnake/qsnake">github.com/qsnake/qsnake</a>
</p>
  </div>
</div>

<div class="block">
  <h3>News</h3>
  <div class="content">
<p>
<span class="date">15 Feb 2011</span> New website launched at qsnake.com<br/>
<span class="date">20 Feb 2009</span> Qsnake was started<br/>
</p>
  </div>
</div>

<div id="quicklinks" class="block">
  <h3>Quick Links</h3>
  <div class="content">
    <p>
      <ul>
        <li>Qsnake Widgets (coming soon)</li>
      </ul>
    </p>
  </div>
</div>

{% endblock %}
